.container {
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.flex-box-container{
    display: flex;
    border: 5px solid Lime;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-box-container a img {
    border: 3px solid lime;
    margin: 10px;
    
}

.button {
    margin: 10px;
}

.text{
    color:  #2ECC40;
}

body {

}
